<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="${app.id}" location="${app.warFile}" contextRoot="${app.context.root}" />
</server>